In [1]:
import pandas as pd

df = pd.read_csv('pollen data.csv')
df.head(3)

,date,pollen_intensity,pollen_source_type
0,22 a 28 de Março de 2019,muito elevados,"plátano, azinheira / outros carvalhos / cipres..."
1,29 de Março a 4 de Abril de 2019,muito elevados,"azinheira / outros carvalhos, plátano / pinhei..."
2,5 a 11 de Abril de 2019,baixos,"azinheira / outros carvalhos, plátano, pinheir..."

In [5]:
months_en2pt = {"January":"janeiro","February":"fevereiro",
               "March":"março","April":"abril","May":"maio",
               "June":"junho","July":"julho","August":"agosto",
               "September":"setembro","October":"outubro",
               "November":"novembro", "December":"dezembro"
              }
months_pt2en = {v: k for k, v in months_en2pt.items()}

In [6]:
# complete
res = []
for idx,row in df.iterrows():
    break
    # preprocessing
    #pollen=row['pollen_intesity']
    
#pd.concat(res)

In [7]:
def get_my_two_dates(cleaned_date_list):
    if len(cleaned_date_list) == 4:
        pt_month = cleaned_date_list[2]
        en_month = months_pt2en[pt_month.lower()]

        date1 = cleaned_date_list[0] +'-'+ en_month +'-'+ cleaned_date_list[-1]
        date2 = cleaned_date_list[1] +'-'+ en_month +'-'+ cleaned_date_list[-1]
        return date1,date2
    else:
        
        pt_month_1 = cleaned_date_list[1]
        pt_month_2 = cleaned_date_list[3]
        
        en_month_1 = months_pt2en[pt_month_1.lower()]
        en_month_2 = months_pt2en[pt_month_2.lower()]

        date1 = cleaned_date_list[0] +'-'+ en_month_1 +'-'+ cleaned_date_list[-1]
        date2 = cleaned_date_list[1] +'-'+ en_month_2 +'-'+ cleaned_date_list[-1]
        return date1,date2

In [8]:
clean_date_string = lambda date_string: [e for e in date_string.split(' ') if e not in ['a','de']]
cleaned_date_list = clean_date_string('22 a 29 de Abril de 2019')
date1,date2 = get_my_two_dates(cleaned_date_list)
data = {'date':pd.date_range(start=date1,end=date2),
        'pollen_intensity':'something',
        'source_type':None # Complete
       }
pd.DataFrame(data)

        date pollen_intensity source_type
0 2019-04-22        something        None
1 2019-04-23        something        None
2 2019-04-24        something        None
3 2019-04-25        something        None
4 2019-04-26        something        None
5 2019-04-27        something        None
6 2019-04-28        something        None
7 2019-04-29        something        None